.profile__container {
  display: grid; 
  grid-template-columns: 117px 1fr 170px; 
  grid-template-rows: 1fr; 
  gap: 0px 0px;
  margin-top: 25px;
  background-color: var(--secondBackground);
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.1986);
  padding: 48px;
  grid-template-areas: 
    "image name date"
    "image bio bio"
    "image info info"
    "image extra extra"
}

.profile__container_dark {
  box-shadow: none;
}

.profile__image { grid-area: image; }
.profile__name { grid-area: name; }
.profile__date { grid-area: date; }
.profile__bio { grid-area: bio; }
.profile__info { grid-area: info; }
.profile__extra { grid-area: extra; }

.profile__image {
  max-width: 117px;
  border-radius: 50%;
}

.profile__user {
  margin-left: 37px;
}

.profile__name {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  color: var(--SecondaryText);
  margin: 0;
}

.profile__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0079FF;
  text-decoration: none;
}

.profile__link:hover {
  color: #60ABFF;
}

.profile__date {
  margin-top: 8px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: var(--ExtraText);
}

.profile__bio {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: var(--PrimaryText);
  margin: 0;
  margin-left: 37px;
  margin-top: 15px;
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 37px;
  margin-top: 32px;
  background: var(--background);
  border-radius: 10px;
  padding: 15px 0 15px 32px;
}

.profile__title {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: var(--PrimaryText);
}

.profile__number {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  color: var(--SecondaryText);
}

.profile__extra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 30px;
  margin-left: 37px;
  margin-top: 37px;
}

.profile__block {
  display: flex;
  margin-bottom: 20px;
}

.profile__icon {
  fill: var(--PrimaryText);
}

.profile__icon_na {
  opacity: 0.6;
}

.profile__blog {
  color: var(--PrimaryText);
  text-decoration: none;
  margin-left: 18px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.profile__blog:hover {
  text-decoration: underline;
}

.profile__text {
  margin: 0;
  margin-left: 18px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: var(--PrimaryText);
}

.profile__text_na {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .profile__container {
    padding: 40px;
    display: grid; 
    grid-template-columns: 117px 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: 
      "image name"
      "image date"
      "bio bio"
      "info info"
      "extra extra"
  }
  .profile__bio {
    margin-top: 24px;
    margin-left: 0;
  }
  .profile__info {
    margin-left: 0;
  }
  .profile__date {
    margin-left: 37px;
    margin-top: 0;
    text-align: left;
  }
  .profile__extra {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 620px) {
  .profile__container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 570px) {
  .profile__container {
    margin-top: 20px;
    padding: 32px 24px;
    grid-template-columns: 70px 1fr; 
  }
  .profile__image {
    max-width: 70px;
  }
  .profile__user {
    margin-left: 20px;
  }
  .profile__name {
    font-size: 16px;
    line-height: 24px;
  }
  .profile__link {
    font-size: 13px;
    line-height: 19px;
  }
  .profile__date {
    font-size: 13px;
    line-height: 19px;
    margin-left: 20px;
  }
  .profile__bio {
    font-size: 13px;
    line-height: 25px;
  }
  .profile__info {
    margin-top: 23px;
    padding: 15px 0 15px 0px;
  }
  .profile__title {
    font-size: 11px;
    line-height: 16px;
  }
  .profile__number {
    font-size: 16px;
    line-height: 24px;
  }
  .profile__extra {
    grid-template-columns: 1fr;
    margin-top: 24px;
  }
  .profile__block {
    margin-bottom: 16px;
  }
  .profile__block:last-child {
    margin-bottom: 0;
  }
  .profile__text {
    font-size: 13px;
    line-height: 19px;
  }
  .profile__blog {
    font-size: 13px;
    line-height: 19px;
  }
  .profile__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}