.header {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.header__title {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  margin: 0;
  color: var(--SecondaryText);
}

.header__switch {
  padding: 0;
  border: none;
  box-sizing: content-box;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.header__mode {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-right: 15px;
  color: var(--ExtraText);
}

@media screen and (max-width: 620px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 570px) {
  .header {
    margin-top: 30px;
  }
}