.form {
  position: relative;
  margin-top: 35px;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.1986);
}

.form_dark {
  box-shadow: none;
}

.form__input {
  width: calc(100% - 80px);
  padding: 0 0 0 80px;
  height: 70px;
  border: 0;
  border-radius: 15px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--InputText);
  background-color: var(--secondBackground);
}

.form__input::placeholder {
  color: var(--PrimaryText);
}

.form__icon {
  position: absolute;
  top: 24px;
  left: 32px;
}

.form__button {
  position: absolute;
  height: 50px;
  top: 10px;
  right: 10px;
  padding: 0;
  border: 0;
  border-radius: 10px;
  width: 106px;
  cursor: pointer;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background-color: #0079FF;
  color: #fff;
}

.form__button:hover {
  background-color: #60ABFF;
}

.form__error {
  position: absolute;
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #F74646;
  top: 25px;
  right: 140px;
}

@media screen and (max-width: 620px) {
  .form {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 570px) {
  .form__input {
    width: calc(100% - 40px);
    padding: 0 0 0 40px;
    font-size: 13px;
    height: 60px;
  }
  .form__button {
    font-size: 14px;
    width: 80px;
    top: 5px;
  }
  .form__icon {
    left: 10px;
    top: 20px;
  }
  .form__error {
    font-size: 13px;
    top: 20px;
    right: 100px;
  }
}

@media screen and (max-width: 390px) {
  .form {
    box-shadow: none;
  }
  .form__button {
    position: relative;
    width: 100%;
    right: 0;
  }
  .form__icon {
    left: 10px;
    top: 20px;
  }
  .form__error {
    font-size: 13px;
    top: 20px;
    right: 10px;
  }
}